@use '../variables';
@use '../mixins';

.vote-count{
    color: variables.$edit-vote-color;
    background-color: variables.$count-bg-color;
    width: 1.5rem;
    height: 90px;
    border-radius: 12px;
    padding: 0 .5rem;
    margin: 1.25rem 0 1.25rem 1.25rem;
    @include mixins.center(column, space-between);

    @media screen and (max-width: variables.$mobile-size) {
      @include mixins.center(row-reverse, space-between);
      width: 90px;
      height: 2rem;
    }
    
    .negative {
      color: variables.$delete-color;
    }

    button {
      display: flex;
      border: none;
      background-color: transparent;
      outline: 0;
      align-items: center;
      height: 1.5rem;

      &:hover svg path {
        fill: variables.$edit-vote-color;
      }
      
      svg path {
        fill: variables.$edit-color-hover;
      }

      &:hover {
        cursor: pointer;
      }
    }

  }